/* Estilos personalizados */

.EstPassoCompraDiv {display:none}
.EstContinuarComprando {display:none;}
#TabBancos {display:none;}
.PedLinkRodape{color:004a8a;text-decoration:underline}
.TopoMenu{display:none}
